<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="resources/css/pboc.css">
    <script src="resources/js/jquery-1.11.0.min.js"></script>
</head>
<body>
<div id="content">

    <div>
        <div style="width:10%; text-align: center"><h1>人行查询</h1></div>
        <div class="itembox" style="margin-left:0">姓名</div>
        <input type="text" id="name">

        <div class="itembox">身份证号</div>
        <input type="text" id="id">

        <div class="itembox">建档员</div>
        <input type="text" id="typein">

        <div class="itembox">查无此人</div>
        <input type="text" id="none">
    </div>

    <div style="clear:both; padding-top:30px">
        <div class="itembox" style="margin-left:0; width:10%">建档完成时间</div>
        <div class="itembox" style="width:3%">起</div>
        <input type="number" id="since" maxlength="8">

        <div class="itembox" style="width:3%">止</div>
        <input type="number" id="to" maxlength="8">
    </div>

    <div style="clear:both; padding-top:30px">
        <div class="itembox" style="margin-left:0">状态</div>
        <input type="button" class="check" value="全部" id="for-all" style="margin-left:50px"><input type="checkbox"
                                                                                                   id="all">
        <label for="finished"><input type="button" class="check" value="完成"></label><input type="checkbox"
                                                                                           id="finished">
        <label for="temporary"><input type="button" class="check" value="暂存"></label><input type="checkbox"
                                                                                            id="temporary">
        <label for="documenting"><input type="button" class="check" value="建档中"></label><input type="checkbox"
                                                                                               id="documenting">
        <label for="undocumented"><input type="button" class="check" value="待建档"></label><input type="checkbox"
                                                                                                id="undocumented">
        <label for="modify-id"><input type="button" class="check" value="修改id"></label><input type="checkbox"
                                                                                              id="modify-id">
    </div>

    <div style="width:30%; height:50px; margin:50px auto"><input type="button" value="Search" id="search"
                                                                 style="width:100%; height:100%"></div>

    <div style="width:20%; margin:auto; text-align:center"><h1>人行录入汇总页</h1></div>

    <div id="table" style="width:80%; margin:auto">
        <div class="grid"></div>
        <div class="grid">姓名</div>
        <div class="grid">身份证号</div>
        <div class="grid">时间</div>
        <div class="grid">员工编号</div>
        <div class="grid">无此人(y)</div>
    </div>

</div>
<script src="resources/js/pbocSummary.js"></script>
</body>
</html>